<ion-view>
        <ion-content>
            <form>
                <div ng-repeat="card in cards" class="list list-inset" ng-show="card.id==phase">

                    <li ng-repeat="i in card.inputList" class="item item-input" ng-class="{'item-select': i.type=='select', 'item-toggle': i.type == 'checkbox', 'item-icon-right': i.type == 'picture'||'location'} ">
                        <!-- adds title -->
                        <span class="input-label">{{i.label | titlecase}}: </span>

                        <!-- adds basic inputs -->
                        <input ng-if="i.type!='select' && i.type!='checkbox' && i.type!='picture' && i.type!='location'" type="{{i.type}}"  ng-model="formData[i.name]">

                        <!-- add select inputs -->
                        <select ng-if="i.type=='select'">
                            <option ng-repeat="op in i.options">{{op}}</option>
                        </select>
                        <!-- add toggle inputs -->
                        <label ng-if="i.type=='checkbox'" class="toggle toggle-positive">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                        <!-- add picture & location icons -->
                        <i ng-if="i.type=='location'" class="icon ion-ios-location"></i>
                        <i ng-if="i.type=='picture'" class="icon ion-android-camera"></i>
                    </li>
                    <button ng-if="prev || prev==0" ng-click="prevPage()"class="button">Previous</button>
                    <button ng-if="card.next" class="button" ng-click="nextPage()">Next</button>

                </div>

            </form>

            {{formData}}
            {{gestureData}}
            <ion-infinite-scroll
              icon="ion-arrow-down-c">
            </ion-infinite-scroll>

        </ion-content>

</ion-view>
